.parent{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}
.child {
    background-color: aqua;
    height: 300px;
    width: 300px;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
}

p {
    color: red;
    text-align: center;
}