.parent{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}
.child{
    height: 300px;
    width: 300px;
    background-color: aqua;
    justify-content: center;
    align-content: center;
}
p{
    text-align: center;
}